

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
						<img src="http://i68.tinypic.com/rrkswn.jpg" alt="Cold Process Soaps" />
									</span>
									<header class="major">
				<h3><a href="landing.html" class="link">CP Soaps</a></h3>
							<p>Cold Process Soapmaking</p>
						</header>
						</article>
					<article>
					<span class="image">
					<img src="http://i65.tinypic.com/xdfukz.jpg" alt="Hot Process Soaps" />
					</span>
					<header class="major">
						<h3><a href="hplp.html" class="link">Hp Soaps</a></h3>
					<p>Hot Process Soapmaking</p>
					</header>
					</article>
					<article>
						<span class="image">
						<img src="http://i64.tinypic.com/nxvvxu.jpg" alt="Melt &amp; Pour Soaps" />
						</span>
					<header class="major">
				<h3><a href="mplp.html" class="link">MP Soaps</a></h3>
				<p>Melt &amp; Pour Soapmaking</p>
				</header>
				</article>
								
								
					<article>
						<span class="image">
						<img src="http://i64.tinypic.com/nxvvxu.jpg" alt="Transparent Soaps" />
						</span>
					<header class="major">
				<h3><a href="tplp.html" class="link">Transparent Soaps</a></h3>
				<p>Transparent Soapmaking</p>
				</header>
				</article>			
								
								
								
								
								
				<article>
				<span class="image">
				<img src="http://i65.tinypic.com/rsv7kp.jpg" alt="Liquid Soaps" />
				</span>
					<header class="major">
				<h3><a href="lilp.html" class="link">Liquid Soaps</a></h3>
				<p>Liquid Soapmaking</p>
				</header>
				</article>
				<article>
				<span class="image">
				<img src="http://i66.tinypic.com/24qsvfq.jpg" alt="Laundry Soaps" />
					</span>
				<header class="major">
			<h3><a href="lalp.html" class="link">Laundry Soaps</a></h3>
				<p>Laundry soap powder, bars &amp; Liquid</p>
					</header>
				</article>
					<article>
						<span class="image">
							<img src="http://i68.tinypic.com/2823yuv.jpg" alt="Aroma" />
					</span>
					<header class="major">
					<h3><a href="landing.html" class="link">Aroma</a></h3>
					<p>Essential &amp; Fragrance oils</p>
						</header>
					</article>
								
								
								
								
								
								
								
								
								
	                   	<article>
				<span class="image">
		<img src="http://i67.tinypic.com/15d77o3.jpg" alt="Soapmaking Additives" />
									</span>
									<header class="major">
				<h3><a href="landing.html" class="link">Herbal Ingredients</a></h3>
							<p>Additives &amp; Colorants in Soapmaking</p>
						</header>
						</article>
								
								
								
					<article>
					<span class="image">
					<img src="images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Soap making equipments</a></h3>
					<p>Molds &amp Cutters</p>
					</header>
					</article>
								
								
								
								
					<article>
						<span class="image">
						<img src="images/pic03.jpg" alt="" />
						</span>
					<header class="major">
				<h3><a href="landing.html" class="link">Soapmaking Equipments</a></h3>
				<p>Other Equipments</p>
				</header>
				</article>
				<article>
				<span class="image">
				<img src="images/pic04.jpg" alt="" />
				</span>
					<header class="major">
				<h3><a href="landing.html" class="link">Soap Packaging</a></h3>
				<p>Designing &amp; Making soap boxes &amp; covers </p>
				</header>
				</article>
				<article>
				<span class="image">
				<img src="images/pic05.jpg" alt="" />
					</span>
				<header class="major">
			<h3><a href="landing.html" class="link">Know Us</a></h3>
				<p>About</p>
					</header>
				</article>
					
								
	
								
								
</section>
